/* NULL */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

/* MAIN STYLES */

body {
  font-family: 'Heebo', sans-serif;
  font-family: 'Raleway', sans-serif;
}

:root {
  --main-color: #3F3D3B;
  --font-color: #110F0E;
  --states-font-color: #FBBC7C;
  --states-btn-color: #B37F4B;
}

.wrapper {
  max-width: 1920px;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  min-width: 1200px;
  padding: 0 40px;
}

.link {
  color: inherit;
}

/*--------------------*/

/* HEADER */

.header {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  background-color: var(--main-color);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {}

.logo__image {
  max-width: 100%;
}

.header__contacts {}

.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts__link {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.contacts__item:not(:last-child) {
  padding-right: 20px;
}

.contacts__text {
  padding-left: 8px;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list li:not(:last-child) {
  padding-right: 43px;
}

.menu__link:hover,
.menu__link:active,
.menu__link:focus {
  color: var(--states-font-color);
  transition: all 0.3s ease 0s;
}

._active {
  color: var(--states-font-color);
}

/*--------------------*/

/* WELCOME section */

.welcome {
  padding-top: 64px;
  padding-bottom: 56px;
}

.welcome__container {}

.welcome__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcome__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  padding-top: 80px;
}

.welcome__tittle {
  position: absolute;
  top: 76px;
  left: 0;
  font-size: 64px;
  font-weight: 600;
  color: var(--font-color);
  z-index: 150;
}

.welcome__benefits {
  padding-top: 50px;
}

.welcome__item {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  color: var(--font-color);
}

.welcome__item span {
  margin-right: 8px;
}

.welcome__buttons {
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.welcome__buttons > .welcome__btn:not(:last-child) {
  margin-right: 20px;
}

.button {
  width: 200px;
  height: 60px;
  font-size: 18px;
  font-weight: 500;
  color: var(--font-color);
  background-color: transparent;
  border: 1px solid var(--main-color);
  transition: all 0.3s ease 0s;
}

.button_colored {
  color: #FFFFFF;
  background-color: var(--main-color);
  position: relative;
  overflow-x: hidden;
}

.button_colored .flare {
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  transform: skewX(15deg);
  animation: flareAnimation;
  left: -150%;
  background: linear-gradient(120deg, rgba(251, 188, 124, 0.1), rgba(255, 255, 255, 0.4));
  animation: flareAnimation 3s infinite linear; 
}

@keyframes flareAnimation {
  0% {
      left: -150%;
  }
  100% {
      left: 150%;
  }
}

.button:hover,
.button:active,
.button:focus {
  color: #FFFFFF;
  background-color: var(--states-btn-color);
  border-color: var(--states-btn-color);
  transition: all 0.3s ease 0s;
}

.welcome__slider {
  width: 640px;
  height: 600px;
}

.slider {
  position: relative;
}

.slider__item {
  position: absolute; 
  top: 0; 
  left: 0; 
  opacity: 0; 
  transition: opacity 1s ease-in-out; 
}

img {
  max-width: 100%;;
}

.slider__item.active {
  opacity: 1;
}




